
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

* {
  font-family: Outfit, sans-serif;
}

body {
  @apply bg-[#F8F9FD] dark:bg-[#0f172a] text-gray-900 dark:text-gray-100 transition-colors duration-300 ease-in-out;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 9999px;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #334155;
}