@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";


*{
  font-family: Outfit;
}

.active hr{
  @apply block
}
::-webkit-scrollbar{
  @apply hidden
}

@media (max-width:740px){
  .active p{
    @apply text-white bg-[#5f6fff]
  }
}
html, body {
  overflow-x: hidden;
  max-width: 100%;
}
.loader div:nth-child(2){
  animation-delay:0.2s ;
}
.loader div:nth-child(3){
  animation-delay:0.2s ;
}